.grid-container {
    display: grid;
    grid-template-columns: 12% 15% 73%;
    width: 100%;
    height: 100%;
}

.grid-item {
    border: 1px solid rgba(255, 255, 255, 0.226);
    text-align: center;
}

.item1 {
    grid-row: 1/8;
    grid-column: 1;
}

.item2 {
    grid-row: 1/8;
    grid-column: 2;
}

.item3 {
    grid-row: 1/2;
    grid-column: 3;
}

.item4 {
    grid-row: 2/8;
    grid-column: 3;
}


/* body{
    padding: 0px;
    margin: 0px;
}
#player{
    width: 100%;
    height: 100%;
    color:white;
    font-family: "Trebuchet MS"

}

#video{
    width: 100%;
    height: 100%;
    background: black;
}

#channelInfo{
    height: 25%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(3,13,49,0.7);
    background: linear-gradient(0deg, rgba(3,13,49,0.9780287114845938) 0%, rgba(3,13,49,0.896796218487395) 69%, rgba(3,13,49,0.8575805322128851) 91%, rgba(3,13,49,0.700717787114846) 98%);
    
    opacity: 0.8; 
}

#loading{
    background-image: url('/assets/loading.gif');
}
#error{
    background-image: url('/assets/error.png');
}
#loading, #error{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.close{
    animation: cssAnimation 0s 5s forwards;
}


@keyframes cssAnimation {
    to   { opacity: 0; }
  }

  @keyframes cssfadeInTopAnimation {
    to   { opacity: 1; }
    to   { margin-top: 0px; }

  }

#channelInfo .container{
    width: 90%;
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    top: 30%;
    left: 5%;
    position: absolute;
}

#channelNumber{
position: fixed;
    top: 10px;
    right: 130px;
    font-size: 100px;
    float:initial;
}

#channelLogo{
    height: 100px;
    width: 100px;
    background-color: white;
    padding: 20px;
    
}

#channelLogo img{
    width: 100%;    
}

.row{
    display:flex;
    flex-direction: row;
}

#epg{
    font-size: 25px;
}

#epg #current{
    font-size: 25px;
    margin-top: 20px;
    opacity: 0;
}

.fadeInTop{
    
    animation: cssfadeInTopAnimation 0.5s 0s forwards;
    
}

#channelName{
    flex-grow: 1;
}

#info{
    padding: 0px 100px;

    flex-grow: 2;
}

#info .row:first-child{
    font-size: 45px;
    font-weight: bold;
    text-shadow: 2px 1px #39394a;
}

#info .row:first-child div{
    width: 100px;
}

#time{
    justify-content: flex-end;
    flex-grow: 1;
    text-align: right;
}

#current{
    flex-grow: 2;
}
#next{
    flex-grow: 1;
}

.arrow-up {
    position: absolute;
    bottom: 115px;
    left: 32px;
    width: 36px !important;
    height: 27px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 27px solid #fff;
}
.arrow-down {
    position: absolute;
    top: 115px;
    left: 32px;
    width: 36px !important;
    height: 27px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 27px solid #fff;
}

#status{
    color: #ff4a4a;
}

.resolution{
    font-size: 20px;
    color: green !important;
} */